.education {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 40px;
}

@media (max-width: 1024px) {
  .education > .education-photos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 1250px;
  }
}

@media (min-width: 1024px) {
  .education > .education-photos {
    display: flex;
    justify-content: space-around;
		height: 625px;
    width: 90%; 
		flex-wrap: wrap;
  }
}

.education > .education-photos > div {
	height: 250px;
  width: 350px;
}

.education > .education-photos > div > img {
	object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.education > .education-photos > div:nth-child(1) > img {
	object-position: 40% 40%;
}

.education > .education-photos > div:nth-child(2) > img {
	object-position: 50% 0%;
}