.intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100px;
	align-items: center;
}

.intro > h1 {
	margin-bottom: 0;
	font-size: 36px;
}

.intro > .intro-text > h2 {
	height: 20px;
	margin-top: 0px;
	opacity: 80%;
}

.intro > .intro-text > .active {
  color: #ffffff;
}
