.intro {
	position: relative;
	display: flex;
	justify-content: space-around;
	height: 100vh;
	align-items: center;
	z-index: 3;
}

.intro > .intro-text {
	width: 20rem;
	text-align: center;
}

.intro > .intro-text > h1 {
	margin-bottom: 0;
	font-size: 36px;
}

.intro > .intro-text > .intro-text-titles > h2 {
	height: 20px;
	margin-top: 0px;
	opacity: 1;
  transition: opacity 1s ease;
	color: #000000;
}

.intro > .intro-text > .intro-text-titles > .active {
  color: #000000;
}
