@media (min-width: 1000px) {
	.main-layout {
		background-image: url('../img/PST00130.JPG');
		background-repeat: no-repeat;
		height: 100vh;
		background-size: cover;
    background-position: center center;
	}
}

@media (max-width: 1000px) {
	.main-layout {
		background-image: url('../img/1D16F7F0-D111-4511-88EA-1AFB3CE2B9CA.jpeg');
		background-repeat: no-repeat;
		height: 100vh;
		width: 100vw;
		background-size: cover;
		background-position: center center;
	}
}

.main-layout > .navbar {
  position: relative;
  display: flex;
  justify-content: center;
  height: 75px;
  width: 100%;
  align-items: center;
}

.main-layout > .navbar > nav {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.main-layout > .navbar > nav > a > img {
	filter: brightness(0) invert(1);
}

.main-layout > .navbar > nav > .links { 
  display: flex;
  align-items: center;
  width: 25%;
  justify-content: space-between;
}

.main-layout > .navbar > nav > .links > * { 
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  position: relative;
}

.main-layout > .navbar > nav > .links > *::after { 
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.main-layout > .navbar > nav > .links > *:hover::after { 
  transform: scaleX(1);
  transform-origin: bottom left;
}

.main-layout > .navbar > nav > .button { 
  display: flex;
  align-items: center;
}