.sub-layout > .navbar {
  position: relative;
  display: flex;
  justify-content: center;
  height: 75px;
  width: 100%;
  align-items: center;
  background-color: #252725;
}

.sub-layout > .navbar > nav {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.sub-layout > .navbar > nav > a > img {
	filter: brightness(1);
  transition: filter 0.35s;
}

.sub-layout > .navbar > nav > a > img:hover {
	filter: brightness(0.5);
}

.sub-layout > .navbar > nav > .links { 
  display: flex;
  align-items: center;
  width: 25%;
  justify-content: space-between;
}

.sub-layout > .navbar > nav > .links > * { 
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  position: relative;
}

.sub-layout > .navbar > nav > .links > *::after { 
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.sub-layout > .navbar > nav > .links > *:hover::after { 
  transform: scaleX(1);
  transform-origin: bottom left;
}

.sub-layout > .navbar > nav > .button { 
  display: flex;
  align-items: center;
}